
.main{
    height: 83rem;
    background: url(../../../img/main.jpg);
    object-fit: contain;

    &__h2{
        color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 250%;
        margin-top: 30rem;
    }

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }

    &__button{
        border: none;
        background:#068FFF ;
        width: 13rem;
        height: 5rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease-in-out;
        color: #272829;

        &:hover{
            cursor: pointer;
            background: #0655ff ;
        }
        
    }

    &__link{
        text-decoration: none;
        color: #eee;
    }
    
}



.header{
    &__logo{
        width: 4rem;
        height: 4rem;
    }
    &__img{
        width: 100%;
        height:100%;
        object-fit: contain;
    }
    &__wrapper{
        display: flex;
        align-items: flex-start;
        margin-right: 55rem;
    }
    &__list{
        width: 100vw;
        height: 6rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5rem;
        padding-right: 4rem;
    }

    &__listItem{
        color: #068FFF;
        font-size: 200%;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
      
    }

    
}

